*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*É usado para contar o tamanho da div, container ou elemento com base no conteúdo. */
    font-size: 16px;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
/* .col-12 {width: 100%; height: 5vh;} ---- EXEMPLO*/

.col{width: 100%;} /* Mobile first começa com 100% para todas as colunas */

/* Dispositivos pequenos (tablets em modo retrato e telefones grandes, 600px ou mais) */
@media only screen and (min-width: 600px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.row {    
    width: 100%;
    border: yellow 5px solid;
}
.row:after{ /* Hack para quando é usado o float left - Isso faz a row tomar todo o espaço com os elementos*/
    content: "";
    display: table;
    clear: both;
}

.col {
    height: 150px;
    border: blue 1px solid;    
    float: left;
    box-sizing: border-box; 
}

.myNav {
    background-color: beige;
    height: 8em;
    border: none;
    border-bottom: 5px solid white;
}

.menuVert {
    background-color: blueviolet;
    height: 100vh;
    border: none;
}

.myContent{
    border: none;
    background-color: aquamarine;
    border-bottom: 5px solid white;
    height: 25vh;
}

.footer {
    border: none;    
    background-color: gray;
    height: 8em;
}

.spacer {
    border: none;    
    background-color: greenyellow;
    height: 8em;
}