
* {
  box-sizing: border-box;
}

body{
font-family:Arial;
font-size:16px;
margin:0;
padding:0;
}

     .main {
         width: 100%;
     }


     header,
     footer {
         padding: 2em;
         background-color: darkgrey;
     }

     .row {
         width: 100%;
         padding: 0.5em;
     }

     [class*="col-"] {
         width: 100%;
         padding: 1em;
     }

     .fakeimg,
     .fakepost {
         width: 100%;
         background-color: gray;
     }

     .h200 {
         height: 200px;
     }

     .h100 {
         height: 100px;
     }

     .fotolog {
         border-radius: 50%;
         width: 50%;
         margin: 0 auto;
         text-align: center;
     }

     .fotolog > div {
         position: relative;
         top: 50%;
         transform: translateY(-50%);
     }

     .fakepost {
         padding: 1em;
         margin-bottom: 10px;
     }


     .video {
         background-color: black;
         color: white;
     }


     @media screen and (min-width: 600px) {

         [class*="col-"] {
             float: left;
             width: 100%;
         }

         .row:after {
             content: "";
             display: table;
             clear: both;
         }

         .col-6,
         .col-3,
         .col-4 {
             width: 50%;
         }

     }

     @media screen and (min-width: 992px) {

         .main-fixed {
             width: 1200px;
             margin: 0 auto;
         }

         .col-1 {
             width: 8.33%;
         }

         .col-2 {
             width: 16.66%;
         }

         .col-3 {
             width: 25%;
         }

         .col-4 {
             width: 33.33%;
         }

         .col-5 {
             width: 41.66%;
         }

         .col-6 {
             width: 50%;
         }

         .col-7 {
             width: 58.33%;
         }

         .col-8 {
             width: 66.66%;
         }

         .col-9 {
             width: 75%;
         }

         .col-10 {
             width: 83.33%;
         }

         .col-11 {
             width: 91.66%;
         }

         .col-12 {
             width: 100%;
         }
     }


     .imgprint {
         display: none;
     }

     @media print {
         .video {
             display: none;
         }

         .imgprint {
             display: inline-block;
         }

         * {
             font-size-adjust: 115%;
         }
     }